@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-beige);
}


:root {
  --color-primary: #E94445;
  --color-secondary: #EFDAE2;
  --color-beige: #FFF5E0;
  --color-borders: #C23373;
  --color-text: #2E2D2C;
  --color-submit: #18b485;
  --color-white:white;
  --color-black: black;
  --color-buttoncancel:#ff3366;
}

a{
  text-decoration: none;
  background-color: transparent;
}

