@import url('../../index.css');

.rounded-circle {
    height: 150px;
    width: 150px;
    margin-bottom: 1rem;
}

.match-container{
    padding: 2rem 0 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

.card-text{
    font-size: 1.3rem;
}

.match-profile{
    Margin-top: 2.5rem;
    }

.how-it-works{
    width: 100%;
    }

    .match-carousel {
      width: 100%;
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      margin: 0 3rem;
      transition: transform 0.3s ease-in-out;
}
    
.porcentage-match{
color: var(--color-primary);
font-size: 1.7rem;
font-weight: 700;
margin: 1rem 0;
}

.matches-text{
color: var(--color-primary);
font-weight: 700px;
font-size: 1.5rem;
padding: 0;
}
    
    
.match-card {
  flex: 0 0 auto;
  padding: 1rem;
  scroll-snap-align: start;
  min-width: 300px;
  max-width: 80%; 
  text-align: center;
}

.matches-text{
  color: var(--color-primary);
  font-weight: 700px;
  font-size: 1.5rem;
  padding: 0;
}
      
.match-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.match-carousel::-webkit-scrollbar {
    width: 10px;
  }
  
  .match-carousel::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
  }

  .match-carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -4rem ;
  }
  
  .arrow-icon-left,
  .arrow-icon-right {
    font-size: 20px;
    cursor: pointer;
    color: rgba(128, 132, 136, 0.6);
  }
  
  .swipe-icon-match.visible {
    width: 3rem;
    position: relative;
    left: 80%;
    bottom: 20rem;
    animation: swipe-animation 4s forwards;
  }
  @keyframes swipe-animation {
    0% {
        transform: translateX(0);
        opacity: 1;
      }
      33% {
        transform: translateX(-60%);
        opacity: 1;
      }
      80%, 100% {
        opacity: 0;
      }
  }
  
  @media (min-width: 1024px) {
    .match-container {
      padding: 4rem;
    }

    .match-card{
      width: 20%;
      margin: 3rem;
    }
  }