@import url('../../index.css');

.rounded-circle {
    
    height: 150px;
    width: 150px;
}


.match-body{
    margin-top: 1rem;
    
}

.match-container{
    background-color: var(--color-beige);
    padding: 3rem;
}

.match-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

.match-profile{
    Margin-top: 3rem;
    }

    .how-it-works{
        width: 100%;
    }