@import url('../../index.css');

.rounded-circle {
    
    height: 150px;
    width: 150px;
}

.match-container{
    background-color: var(--color-beige);
    padding: 3rem;
}

.match-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

.card-text{
    font-size: 1.3rem;
}

.match-profile{
    Margin-top: 2.5rem;
    }

.how-it-works{
    width: 100%;
    }

    /* Slider */

.match-carousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin: 0;
        transition: transform 0.3s ease-in-out;
}
      
.match-card {
        flex: 0 0 auto;
        width: 100%;
        padding: 1rem;
        scroll-snap-align: start;
      }
      
.match-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.match-carousel::-webkit-scrollbar {
    width: 5px;
  }
  
  .match-carousel::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
  }

  .match-carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow-icon-left,
  .arrow-icon-right {
    font-size: 15px;
    cursor: pointer;
    color: rgba(128, 132, 136, 0.4);
  }
  