
.event-card {
    margin: 0 auto;
    border: 2px solid var(--color-borders) !important;
    background-color: var(--color-beige) !important;
    width: 90% !important;
    border-radius: 0.8rem !important;
    margin-top: 2rem;
    margin-bottom: 4rem;;
}
.card-body {
    font-family: Nunito, sans-serif;
}

.card-img-top {
    height: 10rem;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0 0;
    margin-bottom: 1rem;
}

.card-date {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 10px;
}

.card-title {
    font-weight: 900;
    font-size: 2rem;
}

.card-text {
    font-size: 1.5rem;
    font-weight: 400;
}

.card-location {
    font-size: 1.5rem;
    font-weight: 700;
}

.location-icon {
    color: var(--color-primary);
}

.attend-button {
    border-radius: 25px !important;
    font-size: 1.3rem !important;
    font-weight: bolder !important;
    color: var(--color-beige) !important;
    background-color: var(--color-submit) !important;
    border:none !important;
    margin: 2rem 0 2rem 0;
    padding: 0.5rem 2rem;
}
