
.event-card {
    margin: 0 auto;
    background-color:white !important;
    width: 300px !important;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    padding-bottom: 1rem;
}

.card-img-top {
    height: 10rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
    
}

.card-body{
    padding: 1.8rem;
}
.card-date {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 10px;
}

.card-title {
    font-weight: 700;
    font-size: 2rem;
   
}

.card-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
    padding: 0;
}

.card-location {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 0 3rem;
}

.location-icon {
    color: var(--color-primary);
    margin-right: 0.5rem;
    font-size: 1.5rem;
    
}

.detail-button {
    background-color: var(--color-submit);
    color: white;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
}
