.detail-body{
    width: 100%;
    gap: 2rem;
    padding: 2rem;
}
.attendee-container{
    width: 100%;
    gap: 2rem;
    padding: 1rem 0 0 2rem;
    margin-bottom: 8rem;
}

.event-attendees{
    padding: 0 2rem;
}

.detail-img-top{
    width: 100%;
}
.detail-date{
    color: var(--color-primary);
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 700;
}
.detail-title{
    font-size: 2rem;
    font-weight: 700;
}
.detail-text{
    color: black;
    font-size: 1.5rem;
    padding: 0;
}

.detail-location{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}


.attendee-info img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
 
}

.attendee-preview {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem; 
  }

  .attendee-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }

  .attendee-image {
    width: 100px; 
    height: 100px; 
    margin-bottom: 5px; 
  }
  
  .attendee-text {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }
  
