.hero {
    background-image: url('../../assets/images/slider-dating-lab.jpg'); 
    background-size: cover;
    color:var(--color-white);
    text-align: left;
    padding: 130px 30px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.home-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding-right: 2rem;
    margin-bottom: 2rem;
 
}
.button-start{
    background-color: var(--color-primary);
    color: white;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1rem 0;
    

}

.button-start:hover {
    background-color: #cc0044;
  
}

.event-space{
    margin-bottom: 10rem;
}


.how-it-works {
    background-color: var(--color-secondary);
    color: var(--color-black);
    text-align: left;
    padding: 50px 20px;
    margin-bottom: 4rem;
}

.how-it-works-content {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.home-subtitle {
    font-size: 2.2rem;
    margin: 2rem 0 1rem;
    text-align: center;
    font-weight:700;
}

li {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 1rem;
}

.title-Events{
    text-align: center;
    margin: 50px;
    
}
.swipe-text{
    color: var(--color-primary);
    margin-bottom: 3rem;
    text-align: center;
    padding: 0 4rem;
    font-size: 1.2rem;
    

}

