.hero {
    background-image: url('../../assets/images/slider-dating-lab.jpg'); 
    background-size: cover;
    color:var(--color-white);
    text-align: left;
    padding: 130px 30px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.home-title {
    font-size: 2.4rem;
    font-weight: 700;
    color:var(--color-white);
    margin-bottom: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-white);
    padding-right: 2rem;
    margin-bottom: 2rem;
 
}
.button-start{
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1rem 0;
    

}

.button-start:hover {
    background-color: var(--color-buttoncancel);
  
}

.event-space{
    margin-bottom: 10rem;
}


.how-it-works {
    background-color: var(--color-secondary);
    color: var(--color-black);
    text-align: left;
    padding: 50px 20px;
    margin-bottom: 4rem;
}

.how-it-works-content {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.home-subtitle {
    font-size: 2.2rem;
    margin: 2rem 0 1rem;
    text-align: center;
    font-weight:700;
}

li {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 1rem;
}

.title-Events{
    text-align: center;
    margin: 50px;
    
}
.swipe-text{
    color: black;
    margin-bottom: 3rem;
    text-align: center;
    padding: 0 4rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.arrow-left, .arrow-right {
    display: none;
  }

  .swipe-icon.visible {
    width: 3rem;
    position: relative;
    left: 70%;
    bottom: 10rem;
    animation: swipe-animation 4s forwards;
  }
  @keyframes swipe-animation {
    0% {
        transform: translateX(0);
        opacity: 1;
      }
      33% {
        transform: translateX(-60%);
        opacity: 1;
      }
      80%, 100% {
        opacity: 0;
      }
  }
  
  

@media (min-width: 1024px) {
    .hero {
        background-image: url('../../assets/images/slider-desktop-dating-lab.jpg'); 
        background-size: 200%;
        background-size:cover;
        color:var(--color-white);
        text-align: center;
        padding: 240px 150px;
   
    }

    .hero-content {
        max-width: 1200px;
    }

    .home-title {
        font-size: 3.6rem;
        margin-bottom: 3rem;
    }


    .button-start {
        padding: 1rem 3rem;
        font-size: 1.3rem;
    }

    .how-it-works {
        padding: 100px 100px;
        text-align: center;
    }
    
    li{
        text-align:center;
        display: flex;
        justify-content: center;
    }

    .how-it-works-content {
        max-width: 1200px;
    }

    .event-section{
        padding: 30px 100px;
    }

    .home-subtitle {
        font-size: 3rem;
        margin: 3rem 0 2rem;
    }

    li {
        font-size: 1.5rem;
    }

    .swipe-text {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 8rem;
        padding: 0 6rem;
    }

    .event-section {
        position: relative;
      }

    .arrow-left, .arrow-right {
       display: block;
       color: black;
       position:absolute;
       top: 60%;
      }
      .arrow-left{
        left:2%;
        }
      .arrow-right{
      left: 98%;
      }
    
      .swipe-icon {
        display: none;
      }

    
}