.dashboard-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  

  thead {
    flex-basis: 100%;
    background-color: var(--color-beige);
    padding: 1rem 0 1rem; 
    text-align: left;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
.dashboard-row{
 width: 100%;
 text-align: left;
 display: flex;
 justify-content: space-aro;

  }
  
  tbody{
    padding: 1rem 0 1rem; 
    text-align: left;
    font-size: 1.4rem;
  }

  .dashboard-image {
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
  }
.dashboard-actions{
  display: flex;
  justify-content:right ;
}
  .delete-button-icon,
  .edit-button-icon {
   background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: right; 
    margin-left: 10px; 
    color: #797878;
  }

 
  