@import url('../../index.css');

.footer {
    background-color: var(--color-text);
    color: var(--color-primary);
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.footer-logo{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.footer-links{
    display: flex;
    justify-content: center;
    margin:3rem 0;
    gap: 2rem;
    width: 100%;
}