.admin-div{
  background-color: var(--color-secondary);
  color: white;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  font-weight: 900;
}

.admin-nav{
    background-color: var(--color-secondary);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    padding: 1rem;
    font-weight: 900;
}

.admin-footer{
  background-color: var(--color-secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;

}


.new-event{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
    margin-left: 1rem;
  
    
}

.create-button, .back-button, .logout-button{
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    color: #797878;
    font-size: 2rem;
    border: none;
}

.logout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;

}

.edit-button{
    margin-right: 0.;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--color-submit);
    border: none;
  
}

.delete-button{
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--color-primary);
    border: none; 
}

.sidebar{
    width: 280px;
    height: 100vh;
    position: fixed;
}

.content{
    overflow: auto;
    margin-left: 205px;
}

.dashboard-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  

  thead {
    background-color: var(--color-beige);
    padding: 1rem 0 1rem; 
    text-align: left
  }
  
.dashboard-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  tbody{
    flex-basis: 100%;
    padding: 1rem 0 1rem; 
    text-align: left;
    margin-bottom: 8rem;
  }

  .dashboard-image {
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
  }

  .dashboard-edit,
  .dashboard-delete {
   background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: right; 
    margin-left: 10px; 
  }

  .dashboard-edit{
    color: var(--color-submit);
  }

  .dashboard-delete{
    color: var(--color-primary);
  }
  
  .dashboard-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 2rem;

  }

  .dashboard-buttons{
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    padding: 5rem 3rem;
 
   }

   .dashboard-links{
    text-decoration: none;
    color: #797878;
    font-size: 1.5rem;
   }

   