@import url('../../index.css');

.rounded-circle {
    
    height: 150px;
    width: 150px;
}

.profile-container{
    margin-bottom: 7rem;
}

.match-body{
    margin-top: 1rem;
    padding: 0 0.5rem;
    
}

.match-container{
    
    padding: 3rem;
}

.match-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

.card-text{
    font-size: 1.3rem;
}

.match-profile{
    Margin-top: 2.5rem;
    padding: 1rem;
}

.how-it-works{
   width: 100%;}


.separator {
        border-top: 3px solid black; 
        margin: 2rem 0; 
        width: 70%;
      }

.profile-subtitle{
        color: black;
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center;
        padding: 0;
        margin: 0.5rem;
      }

      .profile-texts{
        color: black;
        font-weight: 500;
        font-size: 1.6rem;
        text-align: center;
        padding: 0;
      }

.event-title {
    text-align: center;
  }
  
  .event-title h3 {
    font-size: 25px; 
    margin: 1rem; 
    color: var(--color-primary);
  }
  
 
  
  .event-title span {
    display: block; 
    font-weight: bold; 
    margin-top: 5px; 
  }
  
  .event-preview-container{
    width: 40%;
    height: 170px;
    background-color: white;
    margin: 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    object-fit: cover;
    overflow: hidden;
  
  }

  .event-preview-img{
    width: 155px;
    height: 110px;
  }

  .event-preview-text{
    color: black;
    font-size: 1.2rem;
    margin-top: 1rem;

  }

  @media (min-width: 1024px) {
    .match-body {
      max-width: 100%;
    }
  
    .match-profile {
      max-width: 100%;
    }

    .separator {
      border-top: 3px solid black; 
      margin: 2rem 0; 
      width: 40%;
    }

  .event-preview-container{
    width: 200px;
    height: 170px;
    background-color: white;
    margin: 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    object-fit: cover;
    overflow: hidden;
  
  }

  .event-preview-img{
    width: 200px;
    height: 110px;
    margin-bottom: 1rem;
  }

  }
  
