.navbar-login{
    
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2.2rem 2rem;
  background-color: #eeeeee; /* Color de fondo, ajusta según tu diseño */
  border-top: 1px solid #ddd; /* Línea divisoria superior, ajusta según tu diseño */
  

}

.nav-icon {
    color: #787777; /* Cambia el color según tu preferencia de gris oscuro */
    font-size: 2rem; /* Ajusta el tamaño del icono según tu diseño */
    transition: color 0.3s; /* Agrega una transición suave al cambiar el color */
  }
  
  .nav-icon.active {
    color: var(--color-primary); /* Cambia el color cuando el icono está activo */
  }