.navbar-login { 
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.8rem 2rem;
  background-color: var(--color-secondary)

}

.nav-icon {
    color: #797878; 
    font-size: 2rem;
    transition: color 0.3s;
  }
  
  .nav-icon.active {
    color: var(--color-primary); 
  }


  @media (min-width:800px) {
    .navbar-login { 
      width: 2rem;
      position: fixed;
      bottom: 10%;
      left: 95%;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: white;
    
    }
     }