 .navbar{
    background:var(--color-secondary);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    width: 15rem;
    display: block;
    margin: 0 1rem;
}
.nav_items a{
    margin: 15px;
    color:var(--color-white);
    position: relative;
    text-decoration: none;
}
.nav_toggle{
    display:none;
    color: var(--color-secundary);
    margin-top: 2rem;
}
@media (max-width: 768px) {
    .nav_items {
        position: absolute;
        top: 148px;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90));
        padding: 5rem 1rem;
        display:flex;
        flex-direction: column;
        width: 100%;
        height: 70vh;
        justify-items: space-between;
        transform: translateX(-100%);
        transition:0.3s ease all;
        z-index: 1;
    }
    .nav_items.open{
        transform:translateX(0) !important;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .nav_toggle{
        display: flex !important;
        flex-direction: column;
        margin: 2rem;
        margin-top: 4.8rem;
    }
    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: var(--color-primary);
        margin-bottom: 5px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .nav_items a::after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 1px; 
        background-color: var(--color-white); 
      }

    .nav_items a{
        margin:1rem;
    }
    .nav_toggle.open > span {
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav_toggle.open > span:nth-child(2) {
       display: none;
    }
    .nav_toggle.open > span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}


@media (min-width:800px) {
    .navbar{
        padding: 1rem 3rem;
    }
   .nav_items a {
    color: #000000;
    font-weight: 700;
    font-size: 1.2rem;
   }

   .nav_items {
    margin-top: 2rem; 
    
   }
    }