.body-login{
background-color: var(--color-beige);
}

.body-registration{
    width: 100%;
    background-color: var(--color-beige);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

.container{
    padding: 3rem 0;;
    width: 90%;
}
.form-control{
    border-radius: 0.5rem;
    border: 1px var(--color-borders) solid;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.form-title{
    font-size: 2.3rem;
    font-weight: 700;
    margin: 2rem 0 1rem 0;
    text-align: center;
}

.link-help{
    color:var(--color-primary);
    font-weight: 700;
}

.form-help{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    padding: 0;
}


.form-buttons{
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  margin: 3rem 0;

}

.login-buttons{
    margin: 3rem 0;
    gap: 1rem;
}

.button-send{
    background-color: var(--color-submit);
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
   
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}
.button-cancel{
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;

}
.edit-profile-container{
  padding: 0;
  margin-bottom: 7rem;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }

  .custom-swal-background {
    background-color: var(--color-beige);
  }

  .custom-swal-button {
    border: none !important;
    outline: none !important; 
    box-shadow: none !important;
  }
  
  .profileform-example-text {
    font-size: 1rem;
  }
  

.match-text{
    font-size: 1.2rem;
    padding: 0 1rem;
    font-weight: 300;
    text-align: center;
}
.preference-text{
  color: var(--color-black);
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

  .input-options {
    display: inline-flex;
    max-width: calc(33.33% - 10px); /* Limita el ancho máximo de cada opción para mostrar 3 en una fila */
    margin-right: 0.5rem; 
    margin-bottom: 0.8rem; 
    font-size: 1.5rem;
}
  .btn-outline-danger{
 font-weight: 500;
 font-size: 1.2rem;
  }

  .mb-3{
    text-align: center;
  }
.form-label{
  font-size: 1.4rem;
}
  .form-label-form {
   display: block;
   margin: 2rem 0;
   font-size: 1.6em;
   text-align: center;
  }

  .form-label-profile{
    display: block;
    margin: 1rem 0;
    font-size: 1.2em;
    text-align: center;
   }
 
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    text-align: center;
    
  }
  
  .button-cancel {
    flex: 1;
    margin-right: 10px; 
    font-size: 1.3rem;
  }
  
  .button-send {
    flex: 2;
    margin-right: 0;
    font-size: 1.3rem;
    
  }