body{
    width: 100%;
    background-color: var(--color-beige);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.container{
    width: 90%;
}
.form-control{
    border-radius: 2rem;
    border: 2px var(--color-borders) solid;
}

.form-title{
    font-size: 1.7rem;
    font-weight: 900;
    margin: 3rem;
    text-align: center;
}

.form-help{
    text-align: center;
}

.form-buttons{
    gap: 3rem;
}

.button-send{
    background-color: var(--color-submit);
    color: white;
    border-radius: 2rem;
    border: none;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
}

.button-cancel{
    background-color: var(--color-primary);
    color: white;
    border-radius: 2rem;
    border: none;
    padding: 0.5rem 2rem;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }